@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Sora", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background: #050505;
  color: white;
}
